.App{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  -webkit-animation: easein 2s;
}

.row{
  margin-top :110px;
}

@-webkit-keyframes easein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
